<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <script src="../static/js/form.js"></script>

</head>
<body>
<form id="user-form" action="/api/adduser" method="post">
    <label for="username">Username:</label></br>
    <input type="text" id="username" name="username"></br>
    <label for="password">Password:</label></br>
    <input type="password" id="password" name="password"></br>
    <input type="submit" value="Add User">
</form>
</body>
</html>